  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  select,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #8d0092;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  #cpu_icon{
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
  }

  #gpu_icon{
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
  }


  #platform_icon{
      max-width: 25px;
      max-height: 25px;
      margin-right: 5px;
  }

  #memory_icon{
      max-width: 25px;
      max-height: 25px;
      margin-right: 5px;
      padding-bottom: 5px;
  }

  header {
    background-color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-top: 0;
    user-select: none;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #333;
    margin-right: 450px;
    font-weight: 600;
    font-family: 'font_header_nav_a';
    font-size: 25px;
}

header nav a:last-child {
    margin-right: 0;
}

#logo{
  font-family: "logo_font";
  margin-right: 200px;
  margin-left: 50px;
  color: blueviolet;
}

@font-face {
  font-family:"logo_font" ;
  src: url("Fontes/Font_Outfit_styles/Outfit-Bold.ttf");
}

@font-face {
  font-family:"font_header_nav_a" ;
  src: url("Fontes/BarlowCondensed-ExtraLight.ttf");
}